[[stylD]]

*, :before, :after
   box-sizing: border-box
   vertical-align: middle

html
   height: 100%

body
   height: 100%
   margin: 0
   font-family: "Droid Sans", sans-serif
   line-height: 1.25
   overflow: hidden
   overflow-wrap: anywhere
   color: $gray0
   user-select: none
   cursor: default

img, a
   user-drag none

p
   margin: 0 8px

for val, i in $fontSizes
   h{i + 1}
      font-size: val

small
   font-size: $fontSizes[5]

.Icon
   width: 1.25em
   height: 1.25em
   min-width: 1.25em
   display: inline-flex
   justify-content: center
   align-items: center
   pointer-events: none

.Icon--img
   object-fit: contain
   image-rendering: -webkit-optimize-contrast

.Icon--compact
   width: unset
   min-width: unset

.Button
   height: 30px
   padding: 0 8px
   border: 0
   border-radius: 6px
   display: inline-flex
   justify-content: center
   align-items: center
   gap: 8px
   font: inherit
   background: #fff
   color: $gray0
   box-shadow: inset 0 0 0 1px #0004

   &:hover
      background: $gray3

for k, val in $nonGrayColors
   .Button--{k}
      background: val[2]
      color: #fff
      box-shadow: inset 0 0 0 1px #0008

      &:hover
         background: val[1]

      &.Button--basic
         background: none
         color: val[1]

         &:hover
            background: val[3]

.Button--basic
   background: #0000
   box-shadow: none

.Button--small
   height: 24px

.TextInput
   width: 200px
   height: 30px
   border-radius: 6px
   display: flex
   align-items: center
   overflow: hidden
   background: #fff
   box-shadow: inset 0 0 0 1px #0004

   &:focus-within
      box-shadow: 0 0 0 1px $blue1, 0 0 0 4px rgba($blue1, .4)

.TextInput-leftIcon
   margin-left: 8px

   + .TextInput-input
      margin-left: -28px
      padding-left: 36px

.TextInput-rightIcon
   margin-right: 8px

.TextInput-input
   width: 100%
   height: 100%
   padding: 0 8px
   border: 0
   font: inherit
   background: #0000
   color: $gray0
   outline: 0

   &::placeholder
      color: $gray2

   &:has(+ .TextInput-rightIcon)
      margin-right: -28px
      padding-right: 36px

.Menu
   min-width: 120px
   max-width: 480px
   padding: 4px
   border-radius: 6px
   background: #fff
   box-shadow: 0 0 0 1px #0004

.Menu--basic
   background: #0000
   box-shadow: none

.Menu-item
   min-height: 30px
   padding: 4px 0
   border-radius: 6px
   display: flex
   align-items: center

   &:hover
   &.active
      background: $gray3

for k, val in $nonGrayColors
   .Menu--{k}
      color: val[2]

      &:hover
         background: val[2]
         color: #fff

      > .Menu-label
         color: inherit

.Menu-icon
   margin-left: 8px
   pointer-events: none

.Menu-text
   margin: 0 12px
   flex: 1
   pointer-events: none

.Menu-label
   margin: 0 12px 0 24px
   font-size: 14px
   color: $gray2
   pointer-events: none

.Menu-header
   min-height: 34px
   margin-top: 4px
   padding: 4px 8px 0
   border-top: 1px solid #0004
   display: flex
   align-items: center
   font-size: 14px
   font-weight: 700

   &:first-child
      min-height: 30px
      margin-top: 0
      padding-top: 0
      border-top: 0

.Menu-divider
   margin: 4px 0
   border-top: 1px solid #0004

.Menu-submenu
   width: max-content
   border-radius: 6px
   background: #fff
   box-shadow: 0 0 0 1px #0004, $shadow

.InputGroup
   display: inline-flex
   align-items: center

   > * + *
      margin-left: -1px
      border-top-left-radius: 0
      border-bottom-left-radius: 0

   > :has(+ *)
      border-top-right-radius: 0
      border-bottom-right-radius: 0

   > .TextInput
      flex: 1

      &:focus-within
         z-index: 2

   > .Button--hasColor
      z-index: 1

[[styl]]

#m
   .thumbnail
      padding: 4px
      border: 1px solid #0004
      border-radius: 6px
      background: #fff

   for val in absolute relative fixed sticky
      .{val}
         position: val

   for val in 0 25 50 75 100
      .w-{val}
         width: (val)%
      .h-{val}
         height: (val)%

   props = {
      m: margin
      p: padding
   }
   for p, prop in props
      for s, sides in $sides3
         for size, z in $spaces
            .{p}{s}-{z}
               for side in sides
                  {prop}{side}: size
            if p == m and z
               .-{p}{s}-{z}
                  for side in sides
                     {prop}{side}: -(size)
         if p == m
            .{p}{s}-auto
               for side in sides
                  {prop}{side}: auto

   for val, i in 0 4px 6px 8px 16px 32px
      .rounded-{i}
         border-radius: val
   .rounded-pill
      border-radius: 9999px
   .rounded
      border-radius: 6px

   for val in block inline-block inline flex inline-flex grid inline-grid table inline-table
      .{val}
         display: val
   .hidden, [hidden]
      display: none

   .row
      display: flex
   .column
      display: flex
      flex-direction: column

   for i in 1..12
      val = floor(i / 12 * 100%)
      :not(.column) > .col-{i}
         width: val
      .column > .col-{i}
         height: val
   .col
      flex: 1
   .col-0
      flex: initial

   .wrap
      flex-wrap: wrap
   .nowrap
      flex-wrap: nowrap

   :not(.column).start, .column.top
      justify-content: flex-start
   :not(.column).center, .column.middle
      justify-content: center
   :not(.column).end, .column.bottom
      justify-content: flex-end

   :not(.column).top, .column.start
      align-items: flex-start
   :not(.column).middle, .column.center
      align-items: center
   :not(.column).bottom, .column.end
      align-items: flex-end

   for val, i in $spaces
      .gap-{i}
         gap: val
   for val, i in $spaces
      .gap-x-{i}
         column-gap: val
      .gap-y-{i}
         row-gap: val

   for val in auto visible hidden
      .ov-{val}
         overflow: val
   for val in auto visible hidden
      .ov-x-{val}
         overflow-x: val
      .ov-y-{val}
         overflow-y: val

   .font-sans
      font-family: $sans
   .font-serif
      font-family: $serif
   .font-mono
      font-family: $mono

   for i in 0 3 4 5 6 7 8
      .lh-{i}
         line-height: (i / 4)

   for val, i in $fontSizes
      .text-{i + 1}
         font-size: val

   .text-light
      font-weight: 300
   .text-regular
      font-weight: 400
   .text-medium
      font-weight: 500
   .text-semibold
      font-weight: 600
   .text-bold
      font-weight: 700

   .text-italic
      font-style: italic
   .text-no-italic
      font-style: normal

   for val in nowrap pre pre-line pre-wrap
      .text-{val}
         white-space: val
   .text-wrap
      white-space: normal

   .disabled
      opacity: .5
      pointer-events: none
