line-clamp()
   -webkit-line-clamp: arguments
   line-clamp: arguments

text-security()
   -webkit-text-security: arguments
   text-security: arguments

text-truncate()
   text-overflow: arguments
   white-space: nowrap
   overflow: hidden

user-drag()
   -webkit-user-drag: arguments
   user-drag: arguments

dark()
   .dark &
   .dark&
      {block}

minimized()
   .minimized &
      {block}

maximized()
   .maximized &
      {block}

fullscreen()
   .fullscreen &
      {block}

$hexToRgba(hex, alpha)
   if type(hex) == "string"
      hex = convert(hex)
   r = red(hex)
   g = green(hex)
   b = blue(hex)
   "rgba(%s, %s, %s, %s)" % (r g b alpha)

$gray0 = #1f2937
$gray1 = #4b5563
$gray2 = #9ca3af
$gray3 = #d1d5db
$gray4 = #f3f4f6

$red0 = #881337
$red1 = #be123c
$red2 = #f43f5e
$red3 = #fda4af
$red4 = #ffe4e6

$yellow0 = #78350f
$yellow1 = #b45309
$yellow2 = #f59e0b
$yellow3 = #fcd34d
$yellow4 = #fef3c7

$green0 = #064e3b
$green1 = #047857
$green2 = #10b981
$green3 = #6ee7b7
$green4 = #d1fae5

$blue0 = #1e3a8a
$blue1 = #1d4ed8
$blue2 = #3b82f6
$blue3 = #93c5fd
$blue4 = #dbeafe

$black = #000
$white = #fff

$nonGrayColors = {
   red: $red0 $red1 $red2 $red3 $red4
   yellow: $yellow0 $yellow1 $yellow2 $yellow3 $yellow4
   green: $green0 $green1 $green2 $green3 $green4
   blue: $blue0 $blue1 $blue2 $blue3 $blue4
}
$colors = extend({
   gray: $gray0 $gray1 $gray2 $gray3 $gray4
}, $nonGrayColors)

$spaces = {
   "0": 0
   "1": 4px
   "2": 8px
   "3": 12px
   "4": 16px
   "6": 24px
   "8": 32px
   "10": 40px
   "12": 48px
   "16": 64px
   "24": 96px
   "32": 128px
   "48": 192px
   "64": 256px
   "80": 320px
   "96": 384px
   "px": 1px
   "2px": 2px
   "30px": 30px
}
$percents = {
   "0": 0
   "25p": 25%
   "50p": 50%
   "75p": 75%
   "100p": 100%
}
$spaces2 = extend($spaces, $percents)

$sides1 = {
   "": ""
   l: -left
   t: -top
   r: -right
   b: -bottom
}
$sides2 = {
   "": ""
   -l: -left
   -t: -top
   -r: -right
   -b: -bottom
}
$sides3 = {
   "": ("")
   x: (-left -right)
   y: (-top -bottom)
   l: (-left)
   t: (-top)
   r: (-right)
   b: (-bottom)
}
$sides4 = {
   "": ("")
   -x: (-left -right)
   -y: (-top -bottom)
   -l: (-left)
   -t: (-top)
   -r: (-right)
   -b: (-bottom)
}

$fontSizes = 35px 28px 22px 18px 16px 13px

$shadow = 0 8px 15px -3px #0003, 0 4px 6px -4px #0008

$easeIn = cubic-bezier(.64, 0, .78, 0)
$easeOut = cubic-bezier(.22, 1, .36, 1)
$easeInOut = cubic-bezier(.83, 0, .17, 1)
