.OS
   height: 100%
   display: flex
   flex-direction: column

.OS-tasks
   position: relative
   flex: 1
   z-index: 0

.OS-taskbar
   padding: 4px 8px
   border-top: 1px solid $gray2
   display: flex
   align-items: center
   gap: 8px
   white-space: nowrap
   background: #fff
   z-index: 1

.OS-taskbarTasks
   min-width: 0
   display: flex
   flex: 1
   justify-content: center
   align-items: center
   gap: 4px

.OS-taskbarTask
   max-width: 200px
   flex: 1

.OS-taskbarTrays
   display: flex
   align-items: center
   gap: 4px

.OS-menuPopper
   width: max-content
   border-radius: 6px
   background: #fff
   box-shadow: 0 0 0 1px $gray2, $shadow

   > .Menu
      border-radius: 8px
      background: #fff

.OS-submenuMenu
   z-index: 1040

.OS-contextMenu
   z-index: 1080

.Task
   position: absolute
   border-radius: 8px
   display: flex
   flex-direction: column
   background: #fff
   box-shadow: 0 0 0 1px $gray2, $shadow

.Task--minimized
   display: none

.Task--maximized
   left: 0 !important
   top: 0 !important
   width: 100% !important
   height: 100% !important
   border-radius: 0

   > .Task-body
      margin: 4px 0 0
      border-radius: 0

.Task--fullscreen
   position: fixed
   left: 0 !important
   top: 0 !important
   width: 100% !important
   height: 100% !important
   border-radius: 0

   > .Task-body
      margin: 0
      border-radius: 0

.Task--noHeader
   > .Task-header
      height: 0
      margin: 0
      overflow: hidden

.Task-header
   height: 24px
   margin: 4px 4px 0
   border-radius: 6px 6px 0 0
   display: flex
   align-items: stretch
   background: #fff
   z-index: 2

.Task-title
   padding: 0 8px
   display: flex
   flex: 1
   justify-content: center
   align-items: center

.Task-body
   position: relative
   margin: 4px
   border-radius: 6px
   flex: 1
   overflow: hidden
   z-index: 1

.Task-frame
   position: absolute
   width: 100%
   height: 100%
   max-height: 100%
   border: 0

.Task-resizes
   position: absolute
   inset: -4px
   pointer-events: none

.Task-resize
   position: absolute
   width: 16px
   height: 16px
   pointer-events: auto
   cursor: nwse-resize

   &[data-x="0"]
      width: 100%
      height: 8px
      cursor: ns-resize
   &[data-x="1"]
      right: 0

   &[data-y="0"]
      width: 8px
      height: 100%
      cursor: ew-resize
   &[data-y="1"]
      bottom: 0

   &[data-x="-1"][data-y="1"]
   &[data-x="1"][data-y="-1"]
      cursor: nesw-resize
