.OS
   height: 100%

.OS--taskbar-top
   > .OS-body
      flex-direction: column-reverse

      > .OS-taskbar
         border-bottom: 1px solid $gray2

.OS--taskbar-bottom
   > .OS-body
      flex-direction: column

      > .OS-taskbar
         border-top: 1px solid $gray2

.OS--fullscreen
   > .OS-body
      > .OS-taskbar
         height: 0 !important
         padding-top: 0
         padding-bottom: 0
         border-top: 0
         overflow: hidden

.OS-body
   height: 100%
   display: flex

.OS-tasks
   position: relative
   flex: 1
   z-index: 0

.OS-taskbar
   padding: 4px 8px
   display: flex
   align-items: center
   gap: 8px
   white-space: nowrap
   background: #fff
   z-index: 1

.OS-taskbarTasks
   min-width: 0
   display: flex
   flex: 1
   justify-content: center
   align-items: center
   gap: 4px
   pointer-events: none

.OS-taskbarPinnedApp
   pointer-events: auto

.OS-taskbarTask
   max-width: 200px
   flex: 1
   pointer-events: auto

.OS-taskbarTask--skip
   width: 0
   margin: 0 -2px
   flex: 0
   pointer-events: none

.OS-taskbarTrays
   display: flex
   align-items: center
   gap: 4px

.OS-menuPopper
   width: max-content
   border-radius: 6px
   background: #fff
   box-shadow: 0 0 0 1px $gray2, $shadow

   > .Menu
      border-radius: 8px
      background: #fff

.OS-menubarMenu
   z-index: 1030

.OS-submenuMenu
   z-index: 1040

.OS-contextMenu
   z-index: 1080

.OS-tooltip
   max-width: 520px
   min-height: 30px
   padding: 4px 8px
   border-radius: 6px
   display: flex
   align-items: center
   background: $gray0
   color: #fff
   pointer-events: none
   z-index: 1090

.OS-tooltip--light
   background: $gray4
   color: $gray0

.Task
   position: absolute
   border-radius: 8px
   display: flex
   flex-direction: column
   background: #fff
   box-shadow: 0 0 0 1px $gray2, $shadow
   opacity: 0
   pointer-events: none

   +dark()
      background: $gray0

.Task--shown
   opacity: unset
   animation: Task--show .5s $easeOut
   pointer-events: unset

.Task--maximized
   animation: Task--maximize .5s $easeOut forwards

   > .Task-body
      margin: 4px 0 0
      border-radius: 0

   &.Task--noHeader
      > .Task-body
         margin: 0

.Task--unmaximized
   animation: Task--unmaximize .5s $easeOut

.Task--fullscreen
   position: fixed
   left: 0 !important
   top: 0 !important
   width: 100% !important
   height: 100% !important
   border-radius: 0

   &.Task--minimized
      display: none

   > .Task-body
      margin: 0
      border-radius: 0

.Task--useContentSize
   > .Task-body
      > .Task-frame
         height: auto !important

.Task--noHeader
   > .Task-header
      height: 0
      margin: 0
      overflow: hidden

.Task--loading
   > .Task-body
      > .Task-frame
         opacity: 0

.Task--closed
   border-radius: 8px !important

.Task-header
   height: 24px
   margin: 4px 4px 0
   border-radius: 6px 6px 0 0
   display: flex
   align-items: stretch
   white-space: nowrap
   background: #fff
   transition-property: height, margin
   transition-duration: .5s
   transition-timing-function: $easeOut
   z-index: 2

   +dark()
      background: $gray0

.Task-title
   min-width: 0
   padding: 0 8px
   display: flex
   flex: 1
   justify-content: center
   align-items: center

.Task-titleText
   text-truncate: ellipsis
   pointer-events: none

.Task-buttons
   background: #fff

   +dark()
      background: $gray0

.Task-body
   position: relative
   margin: 4px
   border-radius: 6px
   flex: 1
   overflow: hidden
   background: #fff
   transition-property: margin, border-radius
   transition-duration: .5s
   transition-timing-function: $easeOut
   z-index: 1

   +dark()
      background: $gray0

.Task-frame
   position: absolute
   width: 100%
   height: 100%
   max-height: 100%
   border: 0
   background: #fff

   +dark()
      background: $gray0

.Task-loading
   position: absolute
   inset: 0
   display: flex
   gap: 24px
   flex-direction: column
   justify-content: center
   align-items: center
   background: #fff
   z-index: 1

   +dark()
      background: $gray0
      color: #fff

.Task-resizes
   position: absolute
   inset: -4px
   pointer-events: none

.Task-resize
   position: absolute
   width: 16px
   height: 16px
   pointer-events: auto
   cursor: nwse-resize

   &[data-x="0"]
      width: 100%
      height: 8px
      cursor: ns-resize
   &[data-x="1"]
      right: 0

   &[data-y="0"]
      width: 8px
      height: 100%
      cursor: ew-resize
   &[data-y="1"]
      bottom: 0

   &[data-x="-1"][data-y="1"]
   &[data-x="1"][data-y="-1"]
      cursor: nesw-resize

@keyframes Task--show
   from
      scale: .9
      opacity: 0

@keyframes Task--maximize
   to
      left: 0
      top: 0
      width: 100%
      height: 100%
      border-radius: 0

@keyframes Task--unmaximize
   from
      left: 0
      top: 0
      width: 100%
      height: 100%
      border-radius: 0
